/* .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input{
   width: 120px;
} */

/* .MuiSlider-root.MuiSlider-colorPrimary.slider{
   width: 300px;
} */

.someOption {
   display: flex;
   flex-direction: row;
}

.someOptionName{
   width: 100% ;
   padding-right:10px;
}

.MuiGrid-item {
   width: 100%;
}