@import url("../assets/fonts/noto-sans/index.css");
@import url("../assets/fonts/OpenGurbaniAkhar/index.css");
@import url("../assets/fonts/OpenAnmolUni/index.css");

.overlay {
  padding: calc( var(--overlay-vertical-padding) * var(--vh-factor) ) calc( var(--overlay-horizontal-padding) * var(--vw-factor) );
  display: var(--overlay-window-display);
  height: calc( var(--overlay-height) * var(--vh-factor) );
  width: var(--overlay-width);
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: var(--overlay-background-color);
  background-image: var(--overlay-background-image);
  background-size: var(--overlay-background-size);
  background-repeat: no-repeat;
  background-position: var(--overlay-background-position);
  text-align: center; /* centers overlay-line when in "windowed" mode */
  box-sizing: border-box;
}

.overlay-line {
  padding: calc( var(--overlay-window-vertical-padding) * var(--vh-factor) ) calc( var(--overlay-window-horizontal-padding)* var(--vw-factor) );
  display: var(--overlay-window-display);
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: var(--overlay-flex-justification); /* The CEF used in OBS and vMix cannot handle overflowing content properly with space-evenly or space-around */
  color: var(--overlay-secondary-font-color);
  text-align: var(--overlay-text-align);
  background-color: var(--overlay-window-background-color);
  background-image: var(--overlay-window-background-image);
  background-size: var(--overlay-window-background-size);
  background-repeat: no-repeat;
  background-position: var(--overlay-window-background-position);
}

.overlay-line p {
  margin: 0;
}

.overlay-line .gurmukhi {
  font-family: "Open Gurbani Akhar Black", sans-serif;
  color: var(--overlay-primary-font-color);
  font-size: calc(var(--overlay-primary-font-size) * var(--vh-factor));
  text-shadow: 2px 2px 2px rgba(var(--overlay-primary-drop-color), 1.00);
}

.overlay-line .english, .overlay-line .spanish {
  font-family: "Noto Sans Medium", sans-serif;
  font-weight: 700;
  font-size: calc(var(--overlay-secondary-font-size) * var(--vh-factor));
  text-shadow:  2px 2px 2px rgba(var(--overlay-secondary-drop-color), 1.00);
}

.overlay-line .punjabi {
  font-family: "Open Anmol Uni Bold", sans-serif;
}

.overlay-line .hindi {
  font-family: "Noto Sans Devanagari Semi Bold";
  line-height: 1.48;
}

.overlay-line .punjabi, .overlay-line .hindi {
  font-size: calc( var(--overlay-secondary-font-size) * 1.15 * var(--vh-factor) );
  text-shadow:  2px 2px 2px rgba(var(--overlay-secondary-drop-color), 1.00);
}

.overlay-line .urdu {
  font-family: "Noto Sans Nastaliq Urdu";
  direction: rtl;
  font-size: calc( var(--overlay-secondary-font-size) * 0.85 * var(--vh-factor) );
  text-shadow:  2px 2px 2px rgba(var(--overlay-secondary-drop-color), 1.00);
}

.overlay-line .gurmukhi .word:after,
.overlay-line .transliteration .word:after {
  content: "\20";
}

.overlay-line.larivaar .word:after {
  content: "\200B";
}

.overlay-line.larivaar.assist .gurmukhi .text span:nth-child(odd) .word:nth-child(even), .overlay-line.larivaar.assist .gurmukhi .text span:nth-child(even) .word:nth-child(odd) {
  color: var(--overlay-primary-larivaar-assist-color);
}

.overlay-line.larivaar.assist .transliteration .text span:nth-child(even) {
  color: var(--overlay-secondary-larivaar-assist-color);
}

.text {
  display: inline-block;
  padding-left: calc( var(--overlay-text-horizontal-padding) * var(--vw-factor) );
  padding-right: calc( var(--overlay-text-horizontal-padding) * var(--vw-factor) );
  background-color: var(--overlay-text-background-color);
  background-image: var(--overlay-text-background-image);
  background-size: var(--overlay-text-background-size);
  background-repeat: no-repeat;
  background-position: var(--overlay-text-background-position);
  background-attachment: fixed;
}

.overlay-line > *:first-child > .text {
  padding-top: calc( var(--overlay-text-vertical-padding) * var(--vh-factor) );
}

.overlay-line > *:last-child > .text {
  padding-bottom: calc( var(--overlay-text-vertical-padding)* var(--vh-factor) );
}

.overlay.empty {
  background: var(--overlay-esc-background);
}

.overlay.empty .overlay-line {
  background: var(--overlay-esc-window-background);
}

overlay.empty .text {
  background: var(--overlay-esc-text-background);
}

.heavy {
  color: var(--overlay-vishraam-heavy-color) !important;
}

.medium {
  color: var(--overlay-vishraam-medium-color) !important;
}

.light {
  color: var(--overlay-vishraam-light-color) !important;
}