.settings-menu {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  min-width: fit-content;
}

.settings-menu .pane {
  width: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5em;
  background-color: #F0EDE9;
}

.tabs .MuiTab-root { 
  min-width: unset 
}

.tabs {
  border-right: 2px solid rgba(230, 215, 215, 0.521);
  width: 25%;
}

.option {
  display: flex;
  min-width: fit-content;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.option .option-label {
  font-size: .8em;
  opacity: .7;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.option-label + span[class^='MuiSwitch'] {
  left: -12px; /* Offset for MUI Toggles */
}

.option svg.fa-square > path {
  stroke: black;
  stroke-width: .5em;
}