.app {
  background-color: white;
} 

.app .editor-overlay {
  width: 100%;
  height: 100%;
}

.app .editor-settings {
  background-color: rgba(211, 209, 209, 0.301);
}

.app .editor-overlay {
  border: solid rgba(0, 0, 0, 0.795) 5px;
}