.app {
  background-color: white;
} 

.app .pane-1 {
  background-color: rgba(211, 209, 209, 0.301);
}

.app .pane-2 {
  background-color: rgba(70, 68, 68, 0.253);
  padding: 5em;
}

.app .editor-overlay {
  border: 1px solid red;
  width: 100%;
  position: relative;
  padding-bottom: var(--aspect-ratio);
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.app .editor-overlay .editor-overlay-preview{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}