.app {
  background-color: white;
} 

.app .Pane1 {
  background-color: rgba(211, 209, 209, 0.301);
}

.app .Pane2 {
  background-color: rgba(70, 68, 68, 0.253);
  border: solid rgba(0, 0, 0, 0.795) 5px;
  padding: 1%;
}

.app .editor-overlay {
  width: 100%;
  position: relative;
  padding-bottom: var(--aspect-ratio);
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.app .editor-overlay .editor-overlay-preview{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}